.product {
	padding: 15px;
	margin: 20px;
	border: 1px solid #524a4a;
	border-radius: 10px;
	/* background: #e3e3e3; */
}

.name {
	color: #463e3e;
}
.error {
	/* color: red; */
	color: var(--error-color);
	font-weight: bolder;
}
